.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border: 2px solid var(--cor-geral-roxo);
    background-color: var(--cor-fundo-componentes);
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
}