.vida__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.input__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.vida__input--player {
    width: 20%;
}

.death-s__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    padding-right: 0.5em;
}
