.mag-geral__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.li__mag-geral {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mag-geral__textarea {
    max-width: 40%;
}

.mag-geral__input {
    width: 5%;
}