.ataque__container, .ul-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ataque__nome {
    width: 5%;
}

.ataque__notas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__ataque {
    margin: 0.5em;
}
