.nivel__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo-componentes);
    border: 2px solid var(--cor-geral-roxo);
    background-color: var(--cor-fundo-componentes);
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    gap: 0.5em;
}

.nivel__input--player {
    width: 30%;
}
