.ficha__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.interacao__container {
    background-color: var(--cor-fundo-componentes);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    margin-top: 2em;
    border: 2px solid var(--cor-geral-roxo);
    border-radius: 10px;
}

.foto__input {
    border: 2px solid var(--cor-geral-roxo);
    border-radius: 5px;
}

.imagem__container {
    width: 40%;
    padding: 0.5em;
    margin: 1em;
    border: 2px solid var(--cor-geral-roxo);
    border-radius: 10px;
    background-color: var(--cor-fundo-componentes);
}
